* {
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive, sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
   /* width: 80%;  */
   background-image: url(images/seafood-meal-cropped.jpg);
   background-size: cover;
   background-attachment: fixed;
}

header {
    background-color: black;
}

.main-container {
    display: grid;
    grid-template-columns: 10rem auto;
    /* grid-template-rows: 1fr 4fr 4fr 1fr; */
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 2rem;
}

.main-item-1 {
    grid-row-start: 1;
    grid-row-end: -1;
    height: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .menu-container div {
        border: solid white;
        padding: 1rem;
        margin: .5rem;
        min-width: 10rem;
        min-height: 10rem;
    }

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

    .nav-container a {
        text-decoration: none;
    }

    .nav-container-heading {
        text-align: center;
    }

    .nav-container-parent {
        position: sticky;
        top: 0;
        z-index: 100;
    }

section {
    background-color: rgb(156, 59, 59);
    opacity: 90%;
    width: 80%;
    margin: auto;
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

    #specialties p {
        text-align: justify;
    }

